.comment-item {
  background: rgba(0, 0, 0, .05);
  margin-top: 10px;
  overflow-y: scroll;
  padding: 3px;
}

.comment-item code {
  background: #333;
  color: #fff;
  overflow-y: scroll;
  padding: 4px;
}

/* If width is less than 600 do this stuff */
@media (max-width: 600px)
{
  #wrapper {
    margin: 0px;
    max-width: 100%;
    padding: 0px !important;
  }
}
